services:
  bot:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: slashbot
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - DEBUG=${DEBUG:-false}
    volumes:
      - .:/bot
      - ~/.ssh:/home/slashbot/.ssh:ro
